.product_details_text{
h3{
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.rating{
    margin-bottom: 16px;
    i{
        font-size: 12px;
        color:rgba(170, 170, 2, 0.651);
    }
}

.product_details_price{
    font-size: 30px;
    font-weight: 600;
    color: rgb(110, 47, 47);
    margin-bottom: 30px;
}

}