.sidebar_category{
    margin-bottom: 30px;
    .section-title{
        margin-bottom: 30px;
        h4{
            font-size:18px;
            color:black;
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            &:last-child{
                &:after{
                    display: block;
                }
            }
            &:after{
                position: absolute;
                background:red;
                content: "";
                left:0;
                bottom:0;
                height:2px;
                width:70px;

            }
        }
    }
}

.category_accordian{
    .card {
        border: none;
        border-radius: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid #f2f2f2 !important;
        margin-bottom: 12px;
    
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none !important;
        }
      }

      .card-heading {
        cursor: pointer;
    
        a {
          font-size: 14px;
          font-weight: 500;
          color: black;
          display: block;
        }
      }
    
      
  .card-body {
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 0;

    li {
      list-style: none;
      position: relative;
      padding-left: 16px;
display: block;
      &:before {
        position: absolute;
        left: 4px;
        top: 14px;
        height: 1px;
        width: 4px;
        background: #666666;
        content: "";
      }

      a {
        font-size: 14px;
        color: #666666;
        line-height: 30px;
      }
    }
  }
}


.category_accordian .card-heading a:after,
.category_accordian .card-heading > a.active[aria-expanded="false"]:after {
  content: "\f107";
  font-size: 14px;
  font-family: "FontAwesome";
  color: #666666;
  position: absolute;
  right: 30px;
  top: 0px;
}

.category_accordian .card-heading.active a:after {
  content: "\f106";
  font-size: 14px;
  font-family: "FontAwesome";
  color: #666666;
  position: absolute;
  right: 30px;
  top: -1px;
}

.category_accordian .card-heading a[aria-expanded="true"]:after,
.category_accordian .card-heading > a.active:after {
  content: "\f106";
  font-size: 14px;
  font-family: "FontAwesome";
  color: #666666;
  position: absolute;
  right: 30px;
  top: -1px;
}

.btn-sidebar{
  font-size: 14px;
  width:100%;
  color:#000;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  bottom: 2px;
  margin:2px;
  border:2px solid red;
  position: relative;
  background-color: #fff;
  &:hover{
    background-color: red;
    color:#fff;
  }
}
